*{
    padding: 0;
    margin: 0;
}

html{
    font-family: Fellix, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{
    padding: 20px;
    background-color: #ffcc00;
}

header img{
    width: 200px;
}

#vakkenMenu a{
    text-decoration: none;
    color: #660404;
}

#vakkenInhoud h2{
    color: #660404;
}

#vakkenInhoud > div{
    display: none;
}

#vakkenInhoud > div:target{
    display: block;
}

.vakken{
    display: flex;
}

img{
    max-width:100%;
    max-height: auto;
}

h1{
    color: #660404;
    margin-top: 25px;
    margin-bottom: 10px;
}