*{
    padding: 0;
    margin: 0;
}

html{
    font-family: Fellix, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 960px;
    margin: 0 auto;
}

header{
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffcc00;
    margin-bottom: 20px;
}

header img{
    width: 200px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#vakkenMenu{
    list-style: none;
}

#vakkenMenu a{
    text-decoration: none;
    color: #660404;
}

#vakkenInhoud h2{
    color: #660404;
}

#vakkenInhoud > div{
    display: none;
}

#vakkenInhoud > div:target{
    display: block;
}

.vakken{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.image{
    max-width:100%;
    max-height: auto;
    margin: 20px 0px;
}

h1{
    color: #660404;
}

h2{
    color: #660404;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

h3{
    color: #660404;
    display: flex;
    justify-content: center;
}

h4{
    color: #660404;
}

hr.rounded{
    border-top: 8px solid #ffcc00;
    border-radius: 5px;
    margin: 40px;
}